html, body, .col-xs-8,{
    height: 100%;
    -webkit-app-region: drag;
}

.flex{
  display: flex;
}

text-editor-container{
    width: 100%;
    height: 100%;
    padding: 20,20,20,20
}

.pane{
    overflow: hidden;
}

/* Hide Scroll Bar*/

body {
  overflow-y:hidden;
}

/* Sticky Footer */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 25px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 25px;
  color: #ffffff;
  background-color: #2196f3;
}


.noselect{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
    padding: 3px 5px;
}

.line-decoration {
	background:lightcyan;
}

.line-decoration-error {
	background:lightpink;
}
